{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="w3l-about-3 pb-5 pt-2">
     <div class="container py-md-5 py-4 mb-5">
         <div class="row align-items-center justify-content-between">
             <div class="col-lg-6 pr-lg-5">
                 <h3 class="title-big">Join Our Mission to Democratize Education</h3>
                 <p class="mt-3">Explore deep beneath the surface. In this time of isolation invite yourself to enjoy the company of likeminded folks. Learn Share Grow. Be a part of this vibrant ethnic group.</p>
             </div>
             <div class="col-lg-6 about-2-secs-right mt-lg-0 mt-5">
               <iframe src="https://discord.com/widget?id=825023898532708404&theme=dark" width="100%" height="500px" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
             </div>
         </div>
     </div>
 </section>
 <div class="w3l-cutomer-main-cont">
     <div class="testimonials py-5">
         <div class="container py-md-5 py-4">
             <div class="title-heading-w3 text-center mx-auto mb-5 pb-lg-5">
                 <h3 class="title-main">Student Community <span>Feedback </span></h3>
             </div>
             <div class="row content-sec mt-md-5">
                 <div class="col-lg-4 col-md-6 testi-sections">
                     <div class="testimonials_grid">
                         <p class="sub-test"><q>
                                 Nam libero tempore, cum soluta
                                 nobis est eligendi optio cumque nihil impedit.</q>
                         </p>
                         <div class="d-grid sub-author-con">
                             <div class="testi-img-res">
                                 <img src="assets/images/testi2.jpg" alt="" class="img-fluid" />
                             </div>
                             <div class="testi_grid text-left">
                                 <h5>Petey Cruis</h5>
                                 <p>Caption Here</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 mt-md-0 mt-4 testi-sections">
                     <div class="testimonials_grid">
                         <p class="sub-test"><q>
                                 Nam
                                 libero
                                 tempore, cum soluta
                                 nobis est eligendi optio cumque nihil impedit.</q>
                         </p>
                         <div class="d-grid sub-author-con">
                             <div class="testi-img-res">
                                 <img src="assets/images/testi1.jpg" alt="" class="img-fluid" />
                             </div>
                             <div class="testi_grid text-left">
                                 <h5>Molive Joe</h5>
                                 <p>Caption Here</p>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 testi-sections">
                     <div class="testimonials_grid">
                         <p class="sub-test"><q>
                                 Nam
                                 libero
                                 tempore, cum soluta
                                 nobis est eligendi optio cumque nihil impedit.</q>
                         </p>
                         <div class="d-grid sub-author-con">
                             <div class="testi-img-res">
                                 <img src="assets/images/testi3.jpg" alt="" class="img-fluid" />
                             </div>
                             <div class="testi_grid text-left">
                                 <h5>Paige Turner</h5>
                                 <p>Caption Here</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
{% endblock %}
